@model IEnumerable<WorkLibrary.Product>

@{
    ViewBag.Title = "Index";
}

<h3>Products Manager</h3>
<hr />
<a href="~/ProductManager/Create"><button class="btn btn-xs btn-success">Create New Product</button></a>
<hr />

<div class="dropdown">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Category Filter
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>@Html.ActionLink("All", "Index", new { productCategory = "all" })</li>
        <li>@Html.ActionLink("Ingredients", "Index", new { productCategory = "Ingredient" })</li>
        <li>@Html.ActionLink("Butters", "Index", new { productCategory = "Butter" })</li>
        <li>@Html.ActionLink("Essential Oils", "Index", new { productCategory = "Essential Oil" })</li>
        <li>@Html.ActionLink("Frangrance Oils", "Index", new { productCategory = "Frangrance Oil" })</li>
    </ul>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OurLot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurLot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li> @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) </li>
                        <li> @Html.ActionLink("Details", "Details", new { id = item.ProductId }) </li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.ProductId }) </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

<p><em>Mln = Manufacturer Lot Number </em></p>
