@model IEnumerable<WorkLibrary.WorkDay>

@{
    ViewBag.Title = "Index";
}

<h3> Day Manager </h3>
<hr class="heading-divider" />
<a href="~/Work/Create"><button class="btn btn-xs btn-success">Create New Day</button></a>

<hr />

<div class="row">
    <div class="col-sm-8">
        <h4> Active</h4>
        <table class="table">
            <tr>
                <th> Day / Date </th>
                <th> Actions </th>

            </tr>
            @foreach (var item in Model)
            {
                if (item.Active == true)
                {
                    <tr class="table-item">
                        <td class="table-day-col">
                            @item.Day - @item.Date
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        @Html.ActionLink("Stock Sheet", "../DayWorkLoad/Index", new { id = item.WorkDayId })
                                    </li>
                                    <li> @Html.ActionLink("Print Stock Sheet", "PrintStockSheet", new { id = item.WorkDayId }) </li>
                                    <li> @Html.ActionLink("Edit", "Edit", new { id = item.WorkDayId }) </li>
                                    <li> @Html.ActionLink("Details", "Details", new { id = item.WorkDayId }) </li>
                                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.WorkDayId }) </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-8">
        <h4> All Days</h4>
        <table class="table">
            <tr>
                <th> Day / Date </th>
                <th> Actions </th>

            </tr>
            @foreach (var item in Model)
            {
                if (item.Active == false)
                {
                    <tr class="table-item">
                        <td class="table-day-col">
                            @item.Day - @item.Date
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li>
                                        @Html.ActionLink("Stock Sheet", "../DayWorkLoad/Index", new { id = item.WorkDayId })
                                    </li>
                                    <li> @Html.ActionLink("Print Stock Sheet", "PrintStockSheet", new { id = item.WorkDayId }) </li>
                                    <li> @Html.ActionLink("Edit", "Edit", new { id = item.WorkDayId }) </li>
                                    <li> @Html.ActionLink("Details", "Details", new { id = item.WorkDayId }) </li>
                                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.WorkDayId }) </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>