@model WorkLibrary.StockTask

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <h4> Search / Fill </h4>
        <hr />
        <div class="form-group">
            <label for="sel1">Products</label>
            <select class="form-control" id="pulled-selection-holder"></select>
        </div>
        <button id="quick-add-btn" type="button" class="btn btn-default btn-sm"> Fill Form </button>
    </div>

    <span id="stock-date" class="hidden">@Html.Raw(DateTime.Now.ToString("MMddyy"))</span>

    <div class="col-xs-12 col-md-9">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>StockTask</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.WorkDayId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WorkDayId, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.workdayid } })
                        @Html.ValidationMessageFor(model => model.WorkDayId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hidden">
                    @Html.LabelFor(model => model.StockTaskId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StockTaskId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StockTaskId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Name"> Name </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Size"> Size </label>
                    <div class="col-md-10">
                        <select class="form-control" id="Size" name="Size">
                        </select>
                        @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Quantity"> Quantity </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Start"> Start </label>
                    <div class="col-md-10">
                        <input type="text" id="Start" name="Start" class="form-control time-input" />
                        <button type="button" class="btn btn-md btn-default time-input-btn">Set Cur</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="End"> End </label>
                    <div class="col-md-10">
                        <input type="text" id="End" name="End" class="form-control time-input" />
                        <button type="button" class="btn btn-md btn-default time-input-btn">Set Cur</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="ManufactLot"> Manufacturer Lot </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ManufactLot, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ManufactLot, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="OurLot"> Our Lot </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OurLot, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OurLot, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.workdayid })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/getContent.js")
    @Scripts.Render("~/Scripts/pageActions.js")
}
