@model WorkLibrary.WorkDay

@{

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {id = Model.WorkDayId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoad[0].Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoad[0].Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoad[0].Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoad[0].End)
        </th>
    </tr>
    @foreach (var item in Model.WorkLoad)
    {
        <tr>
            <td>
                @Html.Raw(item.Size)
            </td>
            <td>
                @Html.Raw(item.Quantity)
            </td>
            <td>
                @Html.Raw(item.Start)
            </td>
            <td>
                @Html.Raw(item.End)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StockItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StockItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StockItemId })
            </td>
        </tr>
    }
</table>
